<header class="bg-purple-950 shadow-sm shadow-purple-50 relative">
  <div class="flex max-w-xs m-auto justify-between items-center h-20">
    <h1 class="text-xl text-purple-50">Logo App</h1>
    <nav class="">
      <i class="text-xl text-purple-50 fa-solid fa-bars" id="openMenu"></i>
        <ul class="hidden absolute h-screen top-0 left-0 bg-purple-950 w-full flex flex-col items-center" id="menu">
          <i class="text-xl text-purple-50 fa-solid fa-xmark absolute left-0 p-3" id="closeMenu"></i>
          <li class="">Home</li>
          <li>Equipo (Nombre del equipo)</li>
          <li>Slots</li>
        </ul>
    </nav>
  </div>
</header>